<p> Number of possible stations for this Exam; <%= stations %> </p>
<form id = "details" action = "/main-timer-page"> 
        <label for = "stations">Enter number of stations - </label>
        <input type = "text" name="stations" id = "stations" value= "" required>
        
        <i class="fa fa-sharp fa-solid fa-asterisk fa-beat" style = "color:red"></i>
        
        <br><br>
        
        <br>

        <p> Minutes allowed for each Station; <%= timePerStationInMinutes %> </p>
        <label for = "minutes">How many minutes is each station?</label>
        <input type = "text" name="minutes" id = "minutes" value="" required> 
        <i class="fa fa-sharp fa-solid fa-asterisk fa-beat" style = "color:red"></i>
        
        <br><br>
        
        <br>


        <p> Warning about how many minutes remain each station; <%= warningInMinutes %> </p>
        <label for = "warning">Warning when </label>
        <input type = "text" name="warning" id = "warning" value="" required> <p class = "finished-message">minutes remain </p> 
        <i class="fa fa-sharp fa-solid fa-asterisk fa-beat" style = "color:red"></i>
        <br><br>

        <br><br>


        <p>Time to read through each scenario options; <%= minutesToRead %> </p> 
        <label for = "reading">How much time to read through the scenario before starting (in minutes)? </label>
        <input type = "text" name="reading" class = "reading" value="" required>  
        <i class="fa fa-sharp fa-solid fa-asterisk fa-beat" style = "color:red"></i>
        <br><br>
        <br>
        
        
        <p> Time to switch between each station; <%= secondsToSwitchStation %> </p>
        <label for = "switching">How much time should be given to switch to the next station (in seconds)? </label>
        <input type = "text" name="switching" id = "switching" value="" required> 
        <i class="fa fa-sharp fa-solid fa-asterisk fa-beat" style = "color:red"></i>
        <br>
        
        <input id  = "submission" type = "submit" value = "Submit Details & Start">




      
</form>


