<html>
    <head>
        <%- include('_head') %>
        

    </head>

    <body>
 


        <!-- <img id = "image-shrink" src = "images/timer.jpg" alt  = "timer"> -->

        
        <header>
            <h1 id = "title">Welcome to the OSCE exam timer</h1>

            <i class="fa fa-solid fa-clock fa-bounce fa-2xl"></i>
            <i class="fa fa-solid fa-clock fa-bounce fa-2xl" style = "float:right;"></i>

        
        
        </header>


        <br>
        <br>
        <br>

        <%- include('_navbar') %>

        <br>

        <%- include ('_variables') %>

       <br>

        
        <br> 

        <%- include ('_button') %>

        <br>
        <br>

        <a href = "/room1">Room1 route</a>
        <a href = "/timer-page">To timer</a>
        
        <footer>
            <%- include ('_footer') %>
        </footer>
        
        
    </body>


</html>