<html>
    <head>
        <%- include('_head') %>
        
    </head>


    <body>
    

        <!--title for the page-->
    <h2>TIMER</h2>

    <h1 style = "text-align:center;">Good Luck!</h1>

        <br>
        <br>

  

        <h2 style = text-align:center>THE EXAM HAS NOW STARTED</h2>
        <br>
        <br>

        <p id = "summary">
            <!--information about the exam-->
            <%- include('_exam-details') %>
        </p>
       

        <br>
        <br>



        <!-- <p id = "readingTimerStart"></p>

        <div id = "readingTimer">

        </div>
    
        <br> -->
        <%- include('_readingTimer') %>
      
        

        <!-- <p id = "timerStart"></p>

        <div id = "timer">

        </div>

        <br>
        <div id = "warningIndicator">
        </div>

        <br><br> -->

        <%- include('_timer') %>
        
        <!-- <p id = "switchTimerStart"></p>

        <div id = "switchingTimer">
            </div>
        
        <br> -->
        

        <%- include('_switchingTimer') %>
        
        

        <br>
        <br>

        <div id = "progression-buttons">
        
            <!--button which refreshes the page to take the user to the next station when clicked -->
            <button  id = "nextStation" onclick = "showNextStation()">Next Station</button>

            <br>
            <br>
            <br>

            <!--button which is wrapped around a link to the home page.
                When clicked, the exam ends and the user returns to the home page -->
            
                <button id = "end" onclick = "finishExam()">Finish Examination</button>
            
        </div>
        <br>
        <br>
        <br>
        <a href =  "/"> 
            <button id = "end">Return to the home page</button>
        </a> 
        <br>
        <br>
       
        
        <%- include('_footer') %>
       
    </body>
</html>