<html>
    <head>
        <%- include('_head') %>
        <script src="scripts/timers.js"></script>
        <script src = "scripts/progression.js"></script> 
        
        
    </head>


    <body>
    

    <h2>TIMER</h2>

    <h1 style = "text-align:center;">Good Luck!</h1>

        <br>
        <br>

        <script>
            alert("Station Started");
        </script>

        <p id = "summary">

        </p>
         <%- include('_exam-details') %>


        <!-- <button onclick = "toggleReadTimer()">Toggle reading timer once switching timer hits 0</button>  -->

        <button class = "timer-buttons" id = "read-trigger" onclick = "countReadingTimer()">Start Reading Timer</button>
        <%- include('_readingTimer') %>
        

        <!-- <button onclick = "toggleMainTimer()">Toggle reading timer once switching timer hits 0</button>   -->
        <button class = "timer-buttons" id = "trigger" onclick = "triggerTimer()">Start Examination Timer</button>
        <%- include('_timer') %> 
    
        
        <!-- <button onclick = "toggleSwitchTimer()">Toggle this when it hits 0</button> -->
        <button class = "timer-buttons" id = "switch-trigger" onclick = "triggerSwitchingTimer()">Start Switching Timer</button>
        <%- include('_switchingTimer') %> 

        <br>
        <br>

        <div id = "progression-buttons">
        
            <button  id = "nextStation" onclick = "showNextStation()">Next Station</button>

            <br>
            <br>
            <br>
            <a href =  "/">
                <button id  = "end" onclick = "finishExam()">Finish Examination</button>
            </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
       
        
        <%- include('_footer') %>
       
    </body>
</html>