<html>
    <head>
        <%- include('_head') %>
        <script src="scripts/timers.js"></script> 
        
    </head>


    <body>
    

    <h2>TIMER</h2>

    <h1 style = "text-align:center;">Good Luck!</h1>

        <br>
        <br>

        <script>
            alert("The examination has started");
        </script>

        <p id = "summary">

        </p>

        
        <%- include('_exam-details') %>  
        <button onclick = "toggleReadTimer()">Toggle reading timer once switching timer hits 0</button> 
        <!-- <%- include('_readingTimer') %>-->
        
        <div id = "readingTimer">
   
        </div>
        <br>
        <br>    

        <!-- <%- include('_timer') %>-->
        <button onclick = "toggleExamTimer()">Toggle main timer once reading timer hits 0</button>
        <div id = "timer">
    
        </div>
        
        <br>
        <br>

        <div id = "warningIndicator">
        </div>
        
        <br>
        <br>


        <!-- <%- include('_switchingTimer') %>-->

        <button onclick = "toggleSwitchTimer()">Toggle switching timer once main timer hits 0</button>
        <div id = "switchingTimer">
    
        </div>
    
    <br>


 

        <h2>Station 1</h2>
        <footer>
            <%- include ('_footer') %>
        </footer>   
    </body>


</html>